@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
    scroll-behavior: smooth;
    // font-size: $fs-0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    // background: $color-background;
}
section {
    position: relative;
    // justify-content: center;
    // align-items: center;
    padding: 40px 0 30px;
    // font-size: 18vw;
    // font-weight: 700;
}
