#logo {
    height: 60px;
    width: 100px;
    box-sizing: border-box;
    line-height: 60px;
    cursor: pointer;
    object-fit: contain;
    img {
        width: 100%;
        height: 100%;
    }
}

#toggle {
    position: absolute;
    top: 0;
    right: 10px;
    width: 60px;
    height: 60px;
    background: rgb(64, 118, 235);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: none;
    &::before {
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        background: white;
        transform: translateY(-5px);
        transition: 0.5s;
    }
    &::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        background: white;
        transform: translateY(5px);
        transition: 0.5s;
    }
}
#toggle.active {
    background: rgb(248, 56, 56);
    transition: 0.5s;

    &::before {
        transform: translateY(0px) rotate(45deg);
    }
    &::after {
        transform: translateY(0px) rotate(-45deg);
    }
}
#navbar {
    position: relative;
    // height: 60px;
    right: 30px;
    // width: 0px;
    // overflow: hidden;
    ul {
        position: relative;
        display: flex;
        flex-direction: row;
        li {
            list-style: none;
            position: relative;
            a {
                padding: 0 15px;
                line-height: 60px;
                display: inline-block;
                text-decoration: none;
                font-size: $fs-1;
                font-weight: $fw-normal;
                letter-spacing: 2px;
                color: darkblue;
                &::after {
                    content: "";
                    width: 0;
                    height: 2px;
                    background: $color-blue-2;
                    position: absolute;
                    left: 50%;
                    bottom: 15px;
                    transition: all 0.3s;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    // background: rgba(23, 95, 252, 0.404);
                    // color: white;
                    &::after {
                        width: 80%;
                    }
                }
                &.active {
                    // background: rgba(23, 95, 252, 0.404);
                    // color: white;
                    &::after {
                        width: 70%;
                    }
                }
            }
            // .active {
            //     background: rgba(23, 95, 252, 0.404);
            //     color: white;
            // }
        }
    }
}
@include Responsive(MD) {
    #toggle {
        display: flex;
    }
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.8s;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
            height: calc(100vh - 60px); // 60px is logo height
            bottom: 0;
            transition: 1s;
            background: $color-white !important;
        }
        & ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
