// color
$color-background: #70b9e4;
$color-black: #29303b; // default
$color-white: #fff; //default
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-blue-1: #185fce;
$color-blue-2: #16396e;
$color-blue-3: #e3f6f4;
$color-blue-4: #c2e1f5;

$color-purple: #6e1a52;
$color-gray-1: rgba(20, 23, 28, 0.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5: #f7f8fa;
$color-gray-6: #dedfe0;

// font-size
$fs-0: 16px; //default
$fs-1: 18px;
$fs-2: 24px;
$fs-3: 36px;
// font-weight
$fw-normal: normal;
$fw-bold: bold;
$fw-bold-0: 600;
$fw-bold-1: 700;

//break points
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
